spring:
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-in-seconds: 1800  # 30분
  refresh-token-validity-in-seconds: 1209600  # 2주